@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
html {
    background-color: #109ceb;
}
body {
    text-align: center;
    padding: 0;
    margin: 0;
}
.main {
    text-align: center;
    pointer-events: none;
}
a {
    color: white;
    font-size: 30px;
    font-family: 'Do Hyeon', sans-serif;
}
a:hover{
    color: salmon;
}
nav {
    display: block;
}
li {
    list-style: none;
}
.box {
    background-color: black; 
    padding: 33px;
    margin: 0; 
}